.grass {
    background-color: green;
}

.poison {
    background-color: rgb(187, 102, 223);
}

.fire {
    background-color: rgb(234, 80, 20);
}

.water {
    background-color: rgb(39, 123, 226);
}

.bug {
    background-color: rgb(85, 198, 113);
}

.electric {
    background-color: rgb(216, 219, 51);
}

.flying {
    background-color: rgb(85, 198, 196);
}

.ice {
    background-color: rgb(22, 120, 232);
}

.normal {
    background-color: grey;
}

.steel {
    background-color: rgb(175, 188, 202);
}

.water {
    background-color: rgb(9, 114, 234);
}

.ghost {
    background-color: rgb(22, 120, 232);
}

